* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: url("backbg.jpg");
  display: grid;
  place-items: center;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.container {
  width: 400px;
  background: rgb(109, 131, 84);
  margin: 10px auto;
  padding: 20px;
  border-radius: 50px;
  
}
/* .container .chart-box {
  width: 100%;
  max-width: 500px;
  background-image: url("") ;
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
} */
h2 {
  font-size: 60px;
  color: #225000;
  text-decoration: underline;
  text-align: center;
  font-family: 'Saira Stencil One',bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1{
  font-size: 50px;
  color: #9cbe07;
  text-align: center;

  border-color: #000000;
  margin-top: 0%;
  font-family: 'kenia';
  letter-spacing: 1px;
  text-transform: lowercase;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 20px;
  background: #375939;
  border-radius: 39px;
  color: rgb(233, 233, 233);
  border: rgb(219, 203, 203);
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content:space-between;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  background: #ebffa1;
  padding: 2%;
  border-radius: 15px;
}

li button {
  background: red;
  padding: 4px 16px;
}