* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url("backbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 420px;
  background: rgb(109, 131, 84);
  padding: 20px;
  border-radius: 30px;
}

/* Headings */
h2 {
  font-size: 48px;
  color: #225000;
  text-align: center;
  font-family: 'Saira Stencil One';
}

h1 {
  font-size: 40px;
  color: #9cbe07;
  text-align: center;
  font-family: 'Kenia';
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}

/* Buttons */
button {
  padding: 14px;
  background: #375939;
  border-radius: 39px;
  color: rgb(233, 233, 233);
  border: rgb(219, 203, 203);
  cursor: pointer;
  border: none;
}

button:hover {
  background: #45a049;
}

/* Expense List */
ul {
  list-style: none;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #ebffa1;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 6px;
}

.actions {
  display: flex;
  gap: 6px;
}

.edit {
  background: orange;
  padding: 6px 10px;
  border-radius: 10px;
}

.delete {
  background: red;
  padding: 4px 16px;
}

#payment-mode {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid #000000;
  background-color: #cee4be;
  cursor: pointer;
}
#payment-mode::placeholder{

}

#title,
#amount {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: 3px solid #000000;
  background-color: #cee4be;
  text-align: center;
}

#title::placeholder,
#amount::placeholder {
  color: #888;
}

